{% extends "layout.html" %}
{% load static %}
{% block content %}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item "><a class="verde page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Siguiente</a>
        </li>
    </ul>
</nav>
<!-- Aca deberia poner JINJA configurable para lunes
    ,martes,mie... con un bucle for, por conveniencia ahora lo hago solo
para el lunes -->
<form id="agregarEjercicioForm">
    <div class="txt-rutina">
        <h1 style="white-space: nowrap; font-size: 21px;">El dia Lunes ¿Qué ejercicios realizas? </h1>
        <div class="form-floating mb-3">
            <input id="floatingEjercicioNombre" class="form-control" required>
            <label for="floatingEjercicioNombre">Escribe el <span
                    style="color: green; font-weight: 500;">nombre</span>
                del ejercicio aqui</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" id="floatingEjercicioSeries" class="form-control" required>
            <label for="floatingEjercicioSeries">Escribe cantidad de <span
                    style="color: green; font-weight: 500;">series
                    en total</span> del ejercicio</label>
        </div>
        <div class="cuestionario-peso-y-repeticiones">
            <h1>¿La cantidad de repeticiones es variable o fija?</h1>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" aria-required="true">
                <input type="radio" class="btn-check" name="btnradio1" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck1">Es fija</label>
                <input type="radio" class="btn-check" name="btnradio1" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck2">Varia</label>
            </div>
            <h1> ¿Utilizas peso en este ejercicio?</h1>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" aria-required="true">
                <input type="radio" class="btn-check" name="btnradio2" id="btncheck3" autocomplete="off"
                    onclick="mostrarLabelPeso()">
                <label class="btn btn-outline-success" for="btncheck3">Si</label>
                <input type="radio" class="btn-check" name="btnradio2" id="btncheck4" autocomplete="off"
                    onclick="quitarLabelPeso()">
                <label class="btn btn-outline-danger" for="btncheck4">No</label>
            </div>
        </div>
        <!-- Que aparezca solamente cuando el usuario pone que la cantidad de peso es FIJA -->
        <div class="cuestinario-oculto">
            <h1 class="pesoFijoVariable">¿La cantidad de peso es variable o fijo?</h1>                
            <div class="pesoFijoVariable btn-group" role="group" aria-label="Basic radio toggle button group" aria-required="false">
                <input type="radio" class="btn-check" name="btnradio3" id="btncheck5" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck5">Es fijo</label>
                <input type="radio" class="btn-check" name="btnradio3" id="btncheck6" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck6">Varia</label>
            </div>
    </div>
</form>
    <!-- Que aparezca solamente cuando el usuario completa todos los anteriores -->

    <button class="btn btn-primary" style="margin-top: .5rem;" type="submit" form="agregarEjercicioForm" id="agregarEjercicioBoton">Agregar ejercicio </button>
    <div class="body-taglist">
        <div class="tag-box">
            <ul>
                <li><span class="material-symbols-outlined">close</span> Abdominales cortos</li>
            </ul>
        </div>
    </div>
    <button class="btn btn-dark" style="margin-bottom: 2rem;">Ya complete la rutina del dia Lunes</button>
</div>

<script>
    // let inputPeso = document.getElementById('inputPeso');
    let pesoFijoVariable = document.getElementsByClassName('pesoFijoVariable');
    let NoUtilizaPesoBoton = document.getElementById('btncheck4');
    let pesoFijoBoton = document.getElementById('btncheck5');
    let pesoVariableBoton = document.getElementById('btncheck6')


    function mostrarLabelPeso() {
        for(var i = 0;i<pesoFijoVariable.length;i++){
            pesoFijoVariable[i].style.display = 'flex';
        }
    }

    function quitarLabelPeso() {
        for(let i = 0;i<pesoFijoVariable.length;i++){
            pesoFijoVariable[i].style.display = 'none';
            if (NoUtilizaPesoBoton.checked){
                pesoFijoBoton.checked = false;
                pesoVariableBoton.checked = false;
            }        
        }
    }

    
    // Que hacer en el js:

    // El boton de Agregar ejercicio va a estar DISABLE 
    // hasta que el usuario no complete con todos los requisitos previos.
    // Una vez completados los requisitos, se podra clickear el boton.

    const exerciseTextBox = document.querySelector('.tag-box')
    let exercises = {}
    const agregarEjercicioButton = document.getElementById('agregarEjercicioBoton')

    agregarEjercicioButton.addEventListener('click', function(){
        let nombreDeEjercicio = document.getElementById('floatingEjercicioNombre').value;
        let cantidadDeSeries = document.getElementById('floatingEjercicioSeries').value;
        console.log(nombreDeEjercicio)
    })

    

    // Si el boton activado se clickea, se deberia agregar un texto dentro del ul "tag-box" tal que asi:
    // <li><span class="material-symbols-outlined">close</span>NOMBRE DEL EJERCICIO QUE PUSO EL USUARIO</li>

    // La idea seria, guardar nombre,peso, serie y repeticion en una variable flotante
    //Ejemplo:
    // 'Ejercicio' : 'Abdominales Cortos'
    // 'Series' : '4'
    // 'tipoRep' : 'Fija' o 'Variable' o 'Falso'
    // 'Peso' : True o False
    // CASO QUE 'Peso' : True --> 'tipoPeso' : 'Fija' o 'Variable' o 'Falso'

    // Si el usuario clickea el span de close, se deberia borrar TODA la informacion que puso el usuario

    // Si el usuario clickea el boton de 'Ya complete la rutina del dia X', se envia al backend 
    // toda la data para que sea almacenada con el id del usuario

    // Cuando se agrega AL MENOS un ejercicio EN CADA DIA de los que el usuario clickeo,
    //  recien ahi se puede mover al dia 3

    // Ordenar el JS en algun archivo separado y enlazarlo a subir_rutina2 (para un futuro que quede mas limpio)

</script>

{% endblock %}
