{% extends "layout.html" %}
{% load static %}
{% block content %}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item "><a class="verde page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Siguiente</a>
        </li>
    </ul>
</nav>
<!-- Aca deberia poner JINJA configurable para lunes
    ,martes,mie... con un bucle for, por conveniencia ahora lo hago solo
para el lunes -->
<form id="agregarEjercicioForm" onsubmit="return false">
    <div class="txt-rutina">
        <h1 style="white-space: nowrap; font-size: 21px;">El dia Lunes ¿Qué ejercicios realizas? </h1>
        <div class="form-floating mb-3">
            <input id="floatingEjercicioNombre" class="form-control" required>
            <label for="floatingEjercicioNombre">Escribe el <span style="color: green; font-weight: 500;">nombre</span>
                del ejercicio aqui</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" id="floatingEjercicioSeries" class="form-control" required>
            <label for="floatingEjercicioSeries">Escribe cantidad de <span
                    style="color: green; font-weight: 500;">series
                    en total</span> del ejercicio</label>
        </div>
        <div class="cuestionario-peso-y-repeticiones">
            <h1>¿La cantidad de repeticiones es variable o fija?</h1>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio1" id="repFija" autocomplete="off" required>
                <label class="btn btn-outline-primary" for="repFija">Es fija</label>
                <input type="radio" class="btn-check" name="btnradio1" id="repVaria" autocomplete="off" required>
                <label class="btn btn-outline-primary" for="repVaria">Varia</label>
            </div>
            <h1> ¿Utilizas peso en este ejercicio?</h1>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio2" id="pesoSi" autocomplete="off"
                    onclick="mostrarLabelPeso()" required>
                <label class="btn btn-outline-success" for="pesoSi">Si</label>
                <input type="radio" class="btn-check" name="btnradio2" id="pesoNo" autocomplete="off"
                    onclick="quitarLabelPeso()" required>
                <label class="btn btn-outline-danger" for="pesoNo">No</label>
            </div>
        </div>
        <!-- Que aparezca solamente cuando el usuario pone que la cantidad de peso es FIJA -->
        <div class="cuestinario-oculto">
            <h1 class="pesoFijoVariable">¿La cantidad de peso es variable o fijo?</h1>
            <div class="pesoFijoVariable btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio3" id="pesoFijo" autocomplete="off">
                <label class="btn btn-outline-primary" for="pesoFijo">Es fijo</label>
                <input type="radio" class="btn-check" name="btnradio3" id="pesoVariable" autocomplete="off">
                <label class="btn btn-outline-primary" for="pesoVariable">Varia</label>
            </div>
        </div>
</form>
<!-- Que aparezca solamente cuando el usuario completa todos los anteriores -->

<button class="btn btn-primary" style="margin-top: .5rem;" type="submit" form="agregarEjercicioForm"
    id="agregarEjercicioBoton">Agregar ejercicio </button>
<div class="body-taglist">
    <div class="tag-box">
        <ul class="inside-tag-box">
        </ul>
    </div>
</div>
<button class="btn btn-dark" style="margin-bottom: 2rem;">Ya complete la rutina del dia Lunes</button>
</div>

<script>

    let pesoFijoVariable = document.getElementsByClassName('pesoFijoVariable');
    let NoUtilizaPesoBoton = document.getElementById('pesoNo');
    let UtilizaPesoBoton = document.getElementById('pesoSi')
    let pesoFijoBoton = document.getElementById('pesoFijo');
    let pesoVariableBoton = document.getElementById('pesoVariable')
    let repeticionFija = document.getElementById('repFija');
    let repeticionVariable = document.getElementById('repVaria');


    function mostrarLabelPeso() {
        for (var i = 0; i < pesoFijoVariable.length; i++) {
            pesoFijoVariable[i].style.display = 'flex';
        }
        pesoFijoBoton.required = true;
        pesoVariableBoton.required = true;
    }

    function quitarLabelPeso() {
        for (let i = 0; i < pesoFijoVariable.length; i++) {
            pesoFijoVariable[i].style.display = 'none';
            if (NoUtilizaPesoBoton.checked) {
                pesoFijoBoton.checked = false;
                pesoVariableBoton.checked = false;
            }
        }
        pesoFijoBoton.required = false;
        pesoVariableBoton.required = false;
    }


    // Que hacer en el js:

    let exercises = []
    let tipoPeso, tipoRep, peso
    const agregarEjercicioButton = document.getElementById('agregarEjercicioBoton')
    const exerciseTextBox = document.querySelector('.inside-tag-box');

    agregarEjercicioButton.addEventListener('click', function () {
        let nombreDeEjercicio = document.getElementById('floatingEjercicioNombre').value;
        let cantidadDeSeries = document.getElementById('floatingEjercicioSeries').value;

        if (repeticionFija.checked) {
            tipoRep = 'Fija'
        } else {
            tipoRep = 'Variable'
        }

        if (NoUtilizaPesoBoton.checked) {
            peso = false;
            tipoPeso = false;
        } else {
            peso = true;
            if (pesoFijoBoton.checked) {
                tipoPeso = 'Fija';
            } else {
                tipoPeso = 'Variable';
            }
        }

        //Debo guardarlo en localstorage
        if ((nombreDeEjercicio != '') && (cantidadDeSeries != '') && 
            (repeticionFija.checked || repeticionVariable.checked) && 
            (UtilizaPesoBoton.checked || NoUtilizaPesoBoton.checked)
        ) {
            exerciseList = JSON.parse(localStorage.getItem('Ejercicios'));
            if(exerciseList != []){
                for(let i = 0;i<exerciseList.length;i++){
                    exercises.push(
                    {
                        'Ejercicio': exerciseList[i]['Ejercicio'],
                        'Series': exerciseList[i]['Series'],
                        'tipoRep': exerciseList[i]['tipoRep'],
                        'peso': exerciseList[i]['peso'],
                        'tipoPeso': exerciseList[i]['tipoPeso']
                    }
                    )
                }
            }
            exercises.push(
                    {
                        'Ejercicio': nombreDeEjercicio,
                        'Series': cantidadDeSeries,
                        'tipoRep': tipoRep,
                        'peso': peso,
                        'tipoPeso': tipoPeso
                    }
                )
            localStorage.setItem('Ejercicios', JSON.stringify(exercises))
            exerciseList = JSON.parse(localStorage.getItem('Ejercicios'));

            let liTag = '';
            for (let i = 0; i < exerciseList.length; i++) {
                liTag += `<li class='exercise'><span class="material-symbols-outlined" onclick="quitarEjercicio('${exerciseList[i]['Ejercicio']}');">close</span> ${exerciseList[i]['Ejercicio']}</li>`;
            }
            exerciseList.forEach(function () {
                exerciseTextBox.innerHTML = liTag;
            })
        }
    });

    // Muestra los ejercicios que estan guardados en localstorage, dentro de la tagbox
    if (JSON.parse(localStorage.getItem('Ejercicios')) != []) {
        exerciseList = JSON.parse(localStorage.getItem('Ejercicios'));
        let liTag = '';
            for (let i = 0; i < exerciseList.length; i++) {
                liTag += `<li class='exercise'><span class="material-symbols-outlined" onclick="quitarEjercicio('${exerciseList[i]['Ejercicio']}');">close</span> ${exerciseList[i]['Ejercicio']}</li>`;
            }
            exerciseList.forEach(function () {
                exerciseTextBox.innerHTML = liTag;
            })        
    }

    function quitarEjercicio(ejercicio) {
        exercisesLi = document.querySelectorAll('.exercise');

        for (let i = 0; i < exerciseList.length; i++) {
            if (exerciseList[i]['Ejercicio'].toLowerCase() === ejercicio.toLowerCase()) {
                exerciseList.splice(i, 1);
                exercises.splice(i, 1);
                exercisesLi[i].parentNode.removeChild(exercisesLi[i]);
                break;
            }
        }

        localStorage.removeItem('Ejercicios');
        localStorage.setItem('Ejercicios', JSON.stringify(exerciseList))
    }

    // Si el usuario clickea el boton de 'Ya complete la rutina del dia X', se envia al backend
    // toda la data para que sea almacenada con el id del usuario

    // Despues de enviar la informacion del dia X , debo eliminar la informacion del local storage
    // para que comience el nuevo dia X+1

    // Cuando se agrega AL MENOS un ejercicio EN CADA DIA de los que el usuario clickeo,
    //  recien ahi se puede mover al dia 3

    // Ordenar el JS en algun archivo separado y enlazarlo a subir_rutina2 (para un futuro que quede mas limpio)

</script>

{% endblock %}