{% extends "layout.html" %}
{% load static %}
{% block content %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled"><a class="page-link">Anterior</a></li>
        <li class="page-item active"><a class="verde page-link ">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Siguiente</a>
        </li>
    </ul>
</nav>
<div class="txt-rutina">
    <!-- Agregar al siguiente boton type="submit" form="crearFormulario" luego de hacer el TEST -->
    <button class="btn btn-dark" id="formCompletoBtn" type="submit" form="crearFormulario" onclick="sendDataToBackend()" style="margin-bottom: 2rem; display: none;">Continuar a la siguiente pagina</button>
    <h1>¿Qué días vas al GYM?</h1>
    <form class="dias" method="post" id="crearFormulario" action="/subir_rutina2/" >
        <div class="btn-group d-flex flex-wrap" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label class="btn btn-outline-success" for="btncheck1">Lunes</label>
            <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
            <label class="btn btn-outline-success" for="btncheck2">Martes</label>
            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-outline-success" for="btncheck3">Miercoles</label>
            <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
            <label class="btn btn-outline-success" for="btncheck4">Jueves</label>
            <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
            <label class="btn btn-outline-success" for="btncheck5">Viernes</label>
            <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
            <label class="btn btn-outline-success" for="btncheck6">Sabado</label>
            <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
            <label class="btn btn-outline-success" for="btncheck7">Domingo</label>
        </div>
    </form>
    <div class="cuota-opcional">
        <h1>¿Cuándo vence tu cuota del GYM?</h1>
        <h6>(Opcional)</h6>
        <div class="body-calendario">
            <div class="calendario">
                <header>
                    <p class="fecha-actual"></p>
                    <div class="flechas-calendario">
                        <span id="prev" class="material-symbols-outlined">chevron_left</span>
                        <span id="next" class="material-symbols-outlined">chevron_right</span>
                    </div>
                </header>
                <div class="cuerpo-calendario">
                    <ul class="calendario-semana">
                        <li>Dom</li>
                        <li>Lun</li>
                        <li>Mar</li>
                        <li>Mie</li>
                        <li>Jue</li>
                        <li>Vie</li>
                        <li>Sab</li>                        
                    </ul>
                    <ul class="calendario-dias">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    // Parte  del boton de rutina
    const continuar_btn = document.getElementById('formCompletoBtn')
    const checks = document.querySelectorAll('.btn-check')
    

    checks.forEach(function(boton) {
        boton.addEventListener('click', function(){
            let boton_marcado = false
            for(let i = 0; i < checks.length; i++){
                if(checks[i].checked){
                    boton_marcado = true
                };
        }

        if(boton_marcado){
            continuar_btn.style.display = 'flex';
        }
        else{
            continuar_btn.style.display = 'none';
        }

        })        
    }); 
    
        // JS del calendario
        const currentDate = document.querySelector('.fecha-actual'), // Cambio mes y año
        daysNameVariable = document.querySelector('.calendario-semana'), // Comienzo de lista para los dias Lun, Mar, Mie ...etc       
        daysVariable = document.querySelector('.calendario-dias'), // Comienzo de lista para numeros
        previousNextIcon = document.querySelectorAll('.flechas-calendario span');


        let date = new Date(), // Fecha actual
        currentYear = date.getFullYear(),
        currentMonth = date.getMonth();

        const months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        const daysName = ['Lun','Mar','Mie','Jue','Vie','Sab','Dom'];

        const renderCalendar = () => {
            let thisMonthsFirstDay = new Date(currentYear, currentMonth, 1).getDay(), // numero del dia de la semana del 1ro del ACTUAL mes
            thisMonthsLastDate = new Date(currentYear, currentMonth + 1, 0).getDate(), // Ultimo dia de ACTUAL mes
            thisMonthsLastDay = new Date(currentYear, currentMonth, thisMonthsLastDate).getDay(), // numero del dia de la semana del (ultimo dia) del ACTUAL mes     
            lastDateOfPreviousMonth = new Date(currentYear, currentMonth, 0).getDate(); //Ultimo dia del mes PASADO 
            let liTag = '';

            //En el siguiente codigo, agrego los (numeros) dias al calendario
            for (let i = thisMonthsFirstDay; i > 0; i--) {
                liTag += `<li class='inactive number'>${lastDateOfPreviousMonth - i + 1}</li>`;
            }

            for(let i = 1; i <= thisMonthsLastDate; i++) {                
                liTag += `<li class='number'>${i}</li>`;
            }
            
            for(let i = thisMonthsLastDay; i < 6; i++) {
                liTag += `<li class='inactive number'>${i - thisMonthsLastDay + 1}</li>`;
            }

            currentDate.innerText = `${months[currentMonth]} ${currentYear}`; // Muestra en header el mes y año actual
            daysVariable.innerHTML = liTag;

        }

        //Tomar valor que usuario clickee dentro del calendario
        let dueDateDay, dueDateMonth, dueDateYear;
        const getInfoFromCalendar = () => {
            daysNumber = document.querySelectorAll('.number');
            daysNumber.forEach(dayNumber => {
                dayNumber.addEventListener('click',()=>{
                    dueDateDay = dayNumber.innerText;
                    dueDateYear = currentYear;
                    dueDateMonth = months[currentMonth];
                    })
                })
        }

        renderCalendar(); //Render de calendario para este mes 
        getInfoFromCalendar();

        previousNextIcon.forEach(icon => {
            icon.addEventListener('click',() =>{
                currentMonth = icon.id === 'prev' ? currentMonth - 1 : currentMonth + 1;

                if(currentMonth < 0 || currentMonth > 11) {
                    date = new Date(currentYear,currentMonth);
                    currentYear = date.getFullYear();
                    currentMonth = date.getMonth();
                }
                else{
                    date = new Date();
                }
                renderCalendar();
                getInfoFromCalendar();
            })
        })

        const sendDataToBackend = () => {
            let dueDate = dueDateDay + '-' + dueDateMonth + '-' + dueDateYear;
            $.ajax({
                type: "POST",
                url: "{% url 'subir_rutina2' %}",
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(dueDate),
                success: function (response) {
                            window.location.href = response.redirect
                        }
            })
            // EN CONSTRUCCION: Necesito que NO SE PUEDAN CLICKEAR los dias del calendario que se encuentran con la clase INACTIVE
            // Para asegurarme de no enviar informacion erronea
        }

//     /* Cosas que hacer en el js:

//         / Guardar todos los valores que el usuario marca de 
//         ¿Qué días vas al GYM? en una variable para mandar al backend => FALTA HACER LA PARTE DEL BACKEND RECIBIENDO EL FORM CON LA INFO!!

        
//         / Cuando se elige AL MENOS UN DIA, el boton de siguente para ir a 
//         subir rutina 2 tiene que transformarse en CLICKEABLE

//         / Permitirle al usuario que SI QUIERE, marque en el calendario
//         UN SOLO dia, para mandarlo como variable al backend

//         / En el calendar, debo hacer el js de todos los meses desde el dia actual 
//         hasta dentro de un año, para que se despliegue todo automaticamente

//         / En el calendar, debo hacer el js donde SOLO pueda clickear UNA UNICA FECHA, 
//         que cambie su color a verde 
    
</script> 

{% endblock %}