<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/ProyectoFitnessAPP/fitness/assets/fitness/static/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <title>FitAPP</title>
    </head>
    <body>
        <main>
            <div class="menu-login">
                <img src="/ProyectoFitnessAPP/fitness/assets/fitness/static/imagen-app.png">      
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="usuarioEmail">
                    <label for="usuarioEmail">Correo electrónico</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input class="form-control" id="usuarioNombre">
                    <label for="usuarioNombre">Nombre Completo</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input class="form-control" id="usuarioNametag">
                    <label for="usuarioNametag">Nombre de usuario</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="usuarioContrasena">
                    <label for="usuarioContrasena">Contraseña</label>
                  </div>
                  <button type="button" class="btn btn-primary btn-lg">Registrate</button>
                  <p>¿Ya tenes cuenta? <a href="#"  class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Inicia sesion</a></p>
            </div>
        </main>
    </body>
</html>